[
	(
		identifier: "Sol",
		coordinates: ( ra: "0h 0m 0s", dec: "0° 0m 0s", dist: 0.0 ),
		affiliation: Union,
		description: (
			fallback: "Original home system of humans and AIs.",
		),
		body: Star((
			mass: 1.0,
			radius: 1.0,
			luminosity: 1.0,
			spectral_class: "G2",
			rotation_period: "25d 9h 7m 12s",
			satellites: [
				(
					axis_semi_major: 0.387098,
					eccentricity: 0.205630,
					body: Trabant((
						name: "Mercury",
						radius: 0.3829,
						gravity: 0.38,
						rotation_period: "58d 15h 36m",
						temperature: (-173.0, 167.0, 427.0),
						satellites: [],
					)),
				),
				(
					axis_semi_major: 0.723332,
					eccentricity: 0.006772,
					body: Trabant((
						name: "Venus",
						radius: 0.9499,
						gravity: 0.904,
						rotation_period: "-243d 36m",
						temperature: (437.0, 464.0, 497.0),
						atmosphere: (
							pressure: 92.0,
							quality: Toxic,
							composition: GasComposition({
								CarbonDioxide: 0.912,
								Nitrogen: 0.035,
								Oxygen: 0.051,
								SulfurDioxide: 0.001,
							}),
						),
						techlevel: 10,
						gates: 14,
						institutions: [
							UnionFleet,
						],
						satellites: [],
					)),
				),
				(
					axis_semi_major: 1.0,
					eccentricity: 0.01671123,
					body: Trabant((
						name: "Terra",
						radius: 1.0,
						gravity: 1.0,
						rotation_period: "23h 56m 4s",
						temperature: (-89.0, 15.0, 58.0),
						atmosphere: (
							pressure: 1.01,
							quality: Toxic,
							composition: GasComposition({
								Argon: 0.0093,
								CarbonDioxide: 0.17038,
								Nitrogen: 0.7808,
								Oxygen: 0.00095,
								SulfurDioxide: 0.0301,
							}),
						),
						gates: 0,
						satellites: [
							(
								axis_semi_major: 0.00257,
								eccentricity: 0.0549,
								body: Trabant((
									name: "Luna",
									radius: 0.2731,
									gravity: 0.1654,
									temperature: (-173.0, -23.0, 116.0 ),
									techlevel: 11,
									gates: 1,
									institutions: [
										UnionFleet,
									],
									satellites: [],
								)),
							),
							(
								axis_semi_major: 0.0001,
								eccentricity: 0.001,
								body: Station((
									name: "Argus",
									mass: 4180e3,
									size: ( 200.0, 200.0, 6e3 ),
									gravity: 1.0,
									day_artificial: "24h",
									temperature: (15.0, 21.0, 27.0),
									atmosphere: (
										pressure: 1.0,
										quality: Breathable,
										composition: GasComposition({
											CarbonDioxide: 0.004,
											Nitrogen: 0.787,
											Oxygen: 0.207,
										}),
									),
									techlevel: 11,
									gates: 0,
									institutions: [
										UnionFleet,
									],
									satellites: [],
								)),
							),
						],
					)),
				),
				(
					axis_semi_major: 1.52368055,
					eccentricity: 0.0934,
					body: Trabant((
						name: "Mars",
						radius: 0.533,
						gravity: 0.3794,
						rotation_period: "24h 37m 22s",
						temperature: (-110.0, 8.0, 35.0),
						atmosphere: (
							pressure: 6.36e-3,
							quality: Toxic,
							composition: GasComposition({
								Argon: 0.0193,
								CarbonDioxide: 0.9597,
								Nitrogen: 0.0189,
								Oxygen: 0.0146,
								CarbonMonoxide: 0.557e-3,
							}),
						),
						techlevel: 11,
						gates: 64,
						institutions: [
							UnionFleet,
						],
						satellites: [
							(
								axis_semi_major: 62.6746804e-6,
								eccentricity: 0.0151,
								body: Trabant((
									name: "Phobos",
									radius: 1.737e-3,
									gravity: 581.4e-6,
									temperature: (-110.0, -57.0, -5.0),
									satellites: [],
								)),
							),
							(
								axis_semi_major: 156.8418046e-6,
								eccentricity: 0.00033,
								body: Trabant((
									name: "Deimos",
									radius: 98.304e-3,
									gravity: 306e-6,
									temperature: (-40.0, -40.0, -40.0),
									satellites: [],
								)),
							),
						],
					)),
				),
				(
					axis_semi_major: 9.5826,
					eccentricity: 0.0565,
					body: Trabant((
						name: "Saturn",
						radius: 9.449,
						gravity: 1.065,
						rotation_period: "10h 33m",
						temperature: (-185.0, -152.0, -120.0),
						atmosphere: (
							pressure: 1.4,
							quality: Toxic,
							composition: GasComposition({
								Ammonia: 0.125e-3,
								Helium: 0.0325,
								Hydrogen: 0.963,
								Methane: 4.5e-3,
							}),
						),
						satellites: [
							(
								axis_semi_major: 425.574205e-6,
								eccentricity: 0.0,
								body: Ring((
									width: 762.51079e-6,
								)),
							),
						],
					)),
				),
				(
					axis_semi_major: 30.07,
					eccentricity: 0.0113,
					body: Trabant((
						name: "Neptun",
						radius: 3.829,
						gravity: 1.137,
						rotation_period: "15h 57m 59s",
						temperature: (-218.0, -209.0, -201.0),
						atmosphere: (
							pressure: 1.0,
							quality: Toxic,
							composition: GasComposition({
								Hydrogen: 0.79,
								Helium: 0.19,
								Methane: 0.015,
							}),
						),
						gates: 0,
						satellites: [
							(
								axis_semi_major: 0.00237,
								eccentricity: 0.000016,
								body: Trabant((
									name: "Triton",
									radius: 0.2122,
									gravity: 0.0794,
									temperature: (-235.0, -235.0, -235.0),
									techlevel: 12,
									gates: 0,
									institutions: [
										UnionFleet,
									],
									satellites: [],
								)),
							),
						],
					)),
				),
			],
		)),
	),
	(
		identifier: "Alpha Centauri",
		name: "Centauri",
		coordinates: ( ra: "14h 39m 36.49400s", dec: "-60° 50m 2.3737s", dist: 4.344 ),
		affiliation: Union,
		description: (
			fallback: "Capital of the Union.",
		),
		body: GravitationalCenter((
			satellites: [
				(
					axis_semi_major: 17.493,
					eccentricity: 0.51947,
					body: Star((
						mass: 1.0788,
						radius: 1.2175,
						luminosity: 1.5059,
						spectral_class: "G2",
						rotation_period: "22d",
						satellites: [
							(
								axis_semi_major: 1.1,
								eccentricity: 0.019345,
								body: Trabant((
									name: "Minos",
									radius: 1.1,
									gravity: 1.05,
									rotation_period: "18h 7m",
									temperature: (-7.0, 12.0, 89.0),
									atmosphere: (
										pressure: 1.2,
										quality: Breathable,
										composition: GasComposition({
											CarbonDioxide: 0.00054,
											Nitrogen: 0.77,
											Oxygen: 0.214,
											Argon: 0.002,
										}),
									),
									techlevel: 11,
									gates: 122,
									satellites: [],
								)),
							),
						],
					)),
				),
				(
					axis_semi_major: 17.493,
					eccentricity: 0.51947,
					body: Star((
						mass: 0.9092,
						radius: 0.8591,
						luminosity: 0.4981,
						spectral_class: "K4",
						rotation_period: "41d",
						satellites: [
							(
								axis_semi_major: 0.8,
								eccentricity: 0.00824,
								body: Trabant((
									name: "Taurus",
									radius: 0.9,
									gravity: 1.1,
									rotation_period: "30h 42m",
									temperature: (-120.0, 5.0, 127.0),
									atmosphere: (
										pressure: 0.36,
										quality: Breathable,
										composition: GasComposition({
											CarbonDioxide: 0.00092,
											Nitrogen: 0.792,
											Oxygen: 0.179,
											Argon: 0.015,
										}),
									),
									techlevel: 11,
									gates: 58,
									satellites: [],
								)),
							),
						],
					)),
				),
				(
					axis_semi_major: 8700.0,
					eccentricity: 0.50,
					body: Star((
						name: "Proxima",
						mass: 0.1221,
						radius: 0.1542,
						luminosity: 0.001567,
						spectral_class: "M5.5",
						rotation_period: "90d",
						satellites: [],
					)),
				),
			],
		)),
	),
]
